@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
  src: url('/styles/font/Inter-VariableFont.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300 900;
  font-display: swap;
  src: url('/styles/font/Inter-Italic-VariableFont.ttf') format('truetype');
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  border: unset;
}

:root {
  scroll-behavior: smooth;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-menu: #42526E;
  --color-lightblue: #29ABE2;
  --color-maincolor: #2A3647;
  --color-greyicons: #A8A8A8;
  --color-lightgrey: #D1D1D1;
  --color-darkgrey: #CDCDCD;
  --color-background: #F6F7F8;
}

body {
  width: 100vw;
}

main {
  display: flex;
  flex-direction: row;
}

.content {
  width: 100%;
}

.d-none {
  display: none;
}

.content-wrapper {
  max-width: 1920px;
  padding: 0 1rem;
}

h1 {
  font-weight: 700;
  font-size: 61px;
  font-weight: bold;
  color: var(--color-black);
}

h2 {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-black);
}