dialog {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-self: center;
  font-size: 1.25rem;
  font-weight: 400;
  gap: 1.5rem;
  left: 40%;
  height: 80%;
  width: 32rem;
  padding: 3rem 2.5rem;
  border-radius: 1.875rem;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.16);
  z-index: 1000;
}

.dlg__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dlg__close-btn:hover {
    content: url(../assets/img/close-delete-cross-hover.svg);
    cursor: pointer;
}

.dlg__main {
    gap: 1.5rem;
}

.dlg__header_task-category {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  color: var(--color-white);
  background-color: var(--color-11);
  border-radius: 0.5rem;
  padding: 0.25rem 1.5rem;
}

.dlg__main__task-title {
  font-size: 3.75rem;
  font-weight: 700;
}

.dlg__main__task__due-date,
.dlg__main_task-priority {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.dlg__main__task__due-date-label,
.dlg__main__task-priority {
    color: var(--color-maincolor);
}

.dlg__main__task-assignments {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.dlg__main__assignments-title,
.dlg__main__task-subtask-title {
    color: var(--color-maincolor);
    display: flex;
    padding: 0.25rem 0;
}

.dlg__user-box,
.dlg__main__task-subtask {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
}

.dlg__main__task-subtask-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.dlg__main__task-subtask:hover {
    background-color: rgb(230, 230, 230);
    border-radius: 0.5rem;
    cursor: pointer;
}

.dlg__main__task-subtask:hover img {
    content: url(../assets/img/checkbox-checked-hover.svg);
}

.separator {
    display: flex;
    height: 100%;
    border: 1px solid var(--color-lightgrey);
}

.dlg__footer {
    display: flex;
    justify-content: flex-end;
    color: var(--color-maincolor);
}

.dlg__footer__options-box {
    display: flex;
}

.dlg__footer__options-box img {
    margin: 0 0.5rem;
}

.delete-btn {
    width: 5.125rem;
}

.edit-btn {
    width: 3.875rem;
}

.delete-btn:hover {
    content: url(../assets/img/delete-with-text-hover.svg);
    cursor: pointer;
}

.edit-btn:hover {
    content: url(../assets/img/edit-with-text-hover.svg);
    cursor: pointer;
}