.help-content {
  text-align: justify;
  margin-top: 8rem;
}

.help-content h3 {
  margin: 1.5rem 0;
  font-size: 1.688rem;
}

.help-content p {
    margin: 0.5rem 0;
}

.help-content a {
  text-decoration: none;
}

.help-content ol {
  list-style: none;
  counter-reset: item;
  padding-left: 0;
  margin-left: 0;
}

.help-content li {
  display: flex;
  align-items: flex-start;
  counter-increment: item;
  margin: 1rem 0;
}

.help-content li::before {
  content: counter(item) ".";
  font-size: 1.688rem;
  font-weight: 700;
  text-align: left;
  min-width: 1.5rem;
  margin-right: 2.2rem;
}

.help-content .list-content {
  display: flex;
  flex-direction: column;
}

.help-content .list-content h4 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
}

.help-content .list-content p {
  margin: 0;
  font-size: 1.125rem;
  text-align: justify;
}
