.legal-content {
    text-align: justify;
    margin-top: 8rem;
}

.legal-content h1 {
    margin-bottom: 2rem;
}

.legal-content h2 {
    font-size: 1.688rem;
}

.legal-content h3 {
    font-size: 1.25rem;
    font-weight: 700;
}

.h1_head-container img {
    display: none;
}

@media screen and (max-width: 1024px) {
    .h1_head-container img {
        display: inline-flex;
    }
}