.summary-content__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 128px;
    gap: 24px;
}

.summary-content__header span {
    font-size: 1.5rem;
    font-weight: 400;
}

.summary-content__left {
    width: 550px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.summary-content__metrics {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 64px;
    gap: 64px;
}

.summary-content__metrics--row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
}

.metrics__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 38px 58px;
    background-color: var(--color-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    color: var(--color-black);
    transition: transform var(--transition-slow) ease;
}

.metrics__box--top {
    gap: 24px;
}

.metrics__box--left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.metrics__box--middle {
    width: 100%;
    gap: 64px;
}

.metrics__box img {
    width: 4rem;
    height: 4rem;
    gap: 10px;
}

.metrics__box--bottom {
    padding: 38px 38px;
    height: 174px;
    width: 174px;
}

.metrics__box--text {
    color: var(--color-menu);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.metric-number {
    font-size: 4rem;
    font-weight: 600;
    color: var(--color-black);
}

.metric-txt {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
}

.metric-txt-middle {
    font-size: 1rem;
    font-weight: 400;
}

.summary-content__right span {
    font-size: 4rem;
    font-weight: 700;
    color: var(--color-lightblue);
}

.metrics__box:hover {
    background-color: var(--color-maincolor);
    transform: scale(1.1);
    cursor: pointer;
}

.metrics__icon--todo:hover img {
    content: url("../assets/img/to-do-hover.svg");
}

.metrics__icon--done:hover img {
    content: url("../assets/img/done-hover.svg");
}

.metrics__box:hover span {
    color: var(--color-white);
}

.blue_seperator {
    width: 4px;
    height: 3.75rem;
    background-color: var(--color-lightblue);
}

.grey_seperator {
    width: 4px;
    height: 6rem;
    background-color: var(--color-lightgrey);
}