.summary_content__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 128px;
    gap: 24px;
}

.summary-content__metrics {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 64px;
}

.summary-content__metrics__row {
    display: flex;
    flex-direction: row;
    gap: 32px;
}
